

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.header-container{
    margin-top: -60px;
    height: 800px;
    background-repeat:no-repeat;
    background-position:center;

    font-family: 'Montserrat', sans-serif;

}
.landing-block-light{
    margin-top: 50px;
    background-color: #f6f6f6;
    min-height: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.landing-block-color{
    margin-top: 0px;
    padding: 50px;
    background-color: #2962ff;
    min-height: 300px;
    color: #ffffff ;
    font-family: 'Montserrat', sans-serif;

}
.text-header-welcome{
    margin-top: 50px;
    font-size: 300%;
    letter-spacing: 3px;
    margin-bottom: 50px ;
}
.text-header-welcome-sub{
    letter-spacing: 2px;

}
.footer{
    background-color: #2962ff;
    padding: 50px;
    min-height: 300px;
    color: #ffffff;
}
.copyrighting-text{

    text-align: center;
}
.footer-logo{
    font-size:x-large;
}
.search-element{
    margin-bot: 30px;
}
.action-button-button{
    float: left;
    margin-right: 5px;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    margin-top: -40px;
    padding: 10px 16px;
    font-size: 40px;
    line-height: 1.33;
    border-radius: 35px;

}
.ad-right{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.url-button{
    padding-bottom: 40px;
}
.topLeftRounded{
    fill:  #2962ff;
    margin-bottom: -10px;
}
.botRound{
    margin-top: -100px;
    fill: #f5f8fa;

}
.bottomRightRounded{
    fill:  #2962ff;
    margin-bottom: -10px;
}
.description{
    color: #ffffff;
    font-size: 25px;
}
.footer-href{
    color: #ffffff;
    font-size: 20px;
}
.langing-header{
    font-size: 40px ;
}
.head{
    font-weight: 100;
    font-size: 16px;
}
.content-heading{
    background-color: #0b51c5;
}
.rate-icons{
    font-size: 30px;
    line-height: 20px;
}